<!DOCTYPE html>
<html>
	<head>
		<title>AddressBook</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="content">
			<header>
				<h1>Richard's Address Book</h1>
			</header>
			<nav>
				<div id="nav-header">
					<h2>Contacts</h2>
					<%= form_tag entries_path, method: 'get' do%>
						<%= text_field_tag :search, params[:search], type: :search %>
					<%end %>
				</div>
				<%= render 'index' %>
				<div class="button">
					<%= button_to 'New Entry', new_entry_path, :method => :get %>
				</div>
			</nav>
			<article>
				<%= yield %>
			</article>
			<footer>
				&copy;Richard Dunks
			</footer>
		</div>
	</body>
</html>
